/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS File */

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color:#959595;
	background:#ececec url(../images/bg.png) repeat-x;
}

/* Navigation */

#nav_container{
	width:100%;
	background-color: #373737;
}

nav{
	margin: 0 auto;
	width:950px;
	height:40px;

}


nav ul{
	margin:.7em 0 0 0;
	list-style: none;
	float:right;
}


nav ul li{
	float:left;
	
}

nav ul li a{
	color:#e2e2e2;
	font-size:.6875em;
	text-decoration: none;
	padding:10px 20px 10px 20px;	
	letter-spacing:1px;
	border-right:1px solid #696969;
	border-style:dotted;
}

nav ul li:last-child a{
	border-right:none;
}

nav ul li a:hover{
	background-color: #989898;
}

.wrapper{
	clear:both;
	width:100%;
}

#head_container{
	width: 950px;
	padding:40px 0 40px 0;
	margin: 0 auto;

}

#head_container #logo{
	width:215px;
	margin-right: 75px;
	float:left;
}

#head_container #welcome-box{
	margin-top:10px;
	width:620px;
	padding:20px;
	background: url(../images/welcome-bg.png) repeat-x;
	float:left;
	position:relative;

}

#head_container #welcome-box h2{
	font-size:1.7em;
	font-weight: bold;
	color:#cdcdcd;
	padding-bottom:20px;
	text-shadow: 1px 1px #f9f9f9;
}

#head_container #welcome-box p{
	color:#959595;
	font-size:.9em;
}

#head_container #welcome-box img{
	margin-left:-20px;
	position:absolute;
	bottom:0px;
}

#services_wrapper{
	padding:40px 0 40px 0;
	background: #e0e0e0 url(../images/line-overlay.png) repeat-x;
}

#services_container{
	width:950px;
	margin:0 auto;
	//border-top:2px solid RED;
}

#services_container .services{
	width:227.5px;
	padding:5px;
	float:left;
}

.services img{
	display:block;
	margin:0 auto;
}

.services h3{
	color:#509dc9;
	font-size: .9em;
	font-weight: bold;
	padding-left:10px;
	margin-bottom:10px;
}

.services p{
	color:#959595;
	font-size:.8em;
	padding-left:10px;
	line-height:200%;
}

.clear{
	clear:both;
}

#about_wrapper{
	background: url(../images/line-overlay.png) repeat-x;
}

#about_container{
	width:950px;
	margin:0 auto;
	padding:40px 0 40px 0;
	
}

#about_container #about_box{
	width:55%;
	float:left;
}

#about_box #about{
	padding: 20px 10px;
	background-color: #e0e0e0;
	border:1px solid #d0d0d0;
	box-shadow: 0 0 0 1px #f0f0f0 inset;
}

#about_container #thought_box{
	width:45%;
	float:left;
}

#thought_box #thought{
	padding: 20px 10px;
}

#about_container #about h2, #thought h2 {
	font-size:1.7em;
	margin-bottom:10px;
	font-weight: bold;
	color:#cdcdcd;
	text-shadow: 1px 1px #f9f9f9;
}

#about_container #about p, #thought p{
	font-size: .9em;
	line-height: 200%;
}

#about .button{
	padding:5px;
	//background:#666666;
	border:1px solid #d0d0d0;
	//box-shadow: 0 0 0 1px #f0f0f0 inset;
	border-radius: 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,509dc9+100 */
	background: #7abcff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #7abcff 0%, #60abf8 44%, #509dc9 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #7abcff 0%,#60abf8 44%,#509dc9 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #7abcff 0%,#60abf8 44%,#509dc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#509dc9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#about a{
	text-decoration: none;
	font-size: .8em;
	color:#ffffff;
	margin-top: 20px;
	display:inline-block;

}


#footer_wrapper{
	clear:both;
	width:100%;
	border:1px solid BLACK;
	box-shadow: 0 0 0 1px #696969 inset;
	background-color: #464646;
}

#footer_container{
	width:950px;
	margin:0 auto;
	padding:5px 0 5px 0;
}

#footer_container img{
	padding-right:10px;
}
